<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
        <form action="/Settings" method="POST">
        <div>
        <label>Look Up a User</label>
        </div>
        <div>
        <select id="Selection">
            <option>emil</option>
            <option>username</option>
            
        </select>
        </div>

        <input type="search" name="Userlookup"id="Userlookup" required>
        <button type="submit">search</button>   
        </form>
</body>
</html>