<script src="./javaScript.js"></script>
<link rel="stylesheet" href="style.css">
<div class="home">
	<div class="Sidebar">
		<h1>HI, {{ username }}</h1>
		<a href="/Settings">Settings</a>

		<button onclick="redirectTo(/)">LogOut</button>
	</div>
</div>